.container-one {
    /* background: red; */
    width: 60%;
    display: flex;
    gap: 1rem;
    flex-direction: column;
    /* flex-wrap: wrap; */
}

.container-one .background,
.container-one .context,
.container-two .social,
.container-two .goals {
    border: 1px solid#00000066;
    padding: 1rem;
}

.container-two {
    width: 60%;
    display: flex;
    gap: 1.5rem;
    flex-direction: column;
    /* flex-wrap: wrap; */
}

.basic-details {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    gap: 1.5rem;
}

.photo {
    width: 20%;
    height: 11rem;
    border: 1px solid;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1.5rem;
    flex-wrap: wrap;
}

.photo div {
    position: relative;
    border: 1px solid var(--p-color);
    border-style: dashed;
    color: var(--p-color);
    font-weight: 800;
    background-color: white;
    width: 8rem;
    height: 4rem;
}

.photo div>input {
    position: absolute;
    top: 50%;
    width: 100%;
    transform: translate(-35%, -20%);
    width: 100%;
    height: 100%;
    opacity: 0;
    cursor: pointer;
}

.photo div>label {
    position: absolute;
    left: 50%;
    top: 50%;
    height: 100%;
    cursor: pointer;
    width: 100%;
    transform: translate(-40%, -20%);
}

.personal-details {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: flex-start;
    border: 1px solid;
    padding: 0.5rem;
    width: 75%;
    font-size: 1.2rem;
}

.personal-details p {
    font-size: 1.2rem;
    font-weight: bold;
}

.container-one input,
.container-two input,
textarea {
    border: none;
    outline: none;
}

.container-one input:hover,
textarea:hover,
.container-two input:hover {
    border: none;
    outline: none;
}

.background div {
    display: flex;
    flex-wrap: wrap;
    gap: 0.5rem;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}

.dot {
    /* content: "•"; */
    /* color: #000000;
    margin:0 10px; */
    height: 5px;
    width: 5px;
    background-color: #0b0b0b;
    border-radius: 50%;
    display: inline-block;
}

.motivations {
    border-left: .6rem solid #16A42E;
    padding: 1rem;
    background: #e4f2e7 !important;
}

.motivations input {
    background: #e4f2e7 !important;
}

.frustrations {
    border-left: .6rem solid#EB332D;
    padding: .9rem;
    background: #f5e0df !important;
}

.frustrations input {
    background: #f5e0df !important;
}