:root {
  --p-color: #0A7DB7;
  --s-color: #D5E8FB;
  --disable-color: #BABABA;
  --btn-b-color: #707070;
  --tick-color: #0AB761;
  --btn-bg-blue: #DBEBFB;
  --btn-bg-red: #FBDBDB;
  --r-danger: #F65C5C;
  --p-font: Candara, Arial, san-serif;
  --hm-font: Constantia, Georgia, 'Times New Roman', serif;
}

html,
body {
  width: 100%;
  height: 100vh;
}

body {
  font-family: var(--p-font);
}

li {
  list-style: none;
}

a {
  color: inherit;
  text-decoration: none;
}

/* =================================
  home page style 
==================================== */
.hm-bg {
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: -1;
  overflow: hidden;
}

.hm-bg img {
  width: 100%;
  height: 100%;
  object-fit: contain;
  object-position: 100% 50%;
  /* position: relative;
  right: -232px; */
}

.hm-logo-hldr span {
  font-family: var(--hm-font);
  font-size: 1.75rem;
  font-weight: 800;
}

.hm-logo-hldr img {
  width: 100px;
}

.hm-top-link li {
  font-family: var(--hm-font);
  font-size: 1.4rem;
  font-weight: 800;
}

.hm-top-link li a:hover {
  text-decoration: underline;
  color: var(--p-color);
}

.hm-content {
  width: auto;
  height: auto;
  position: absolute;
  left: 10%;
  top: 30%;
}

.hm-lh-text {
  height: 100%;
}

.hm-lh-text h1 {
  font-family: var(--hm-font);
  font-size: 2.9rem;
  font-weight: 800;
}

.hm-lh-text p {
  font-family: var(--hm-font);
  font-size: 1.75rem;
}

.cmn-btn {
  width: 192px;
  height: 65px;
  background-color: transparent;
  border: 1px solid var(--btn-b-color);
  border-radius: 15px;
  position: absolute;
  left: 0;
  right: 0;
  margin-top: 40px;
}

.cmn-btn p {
  margin-bottom: 0;
  font-size: 1.5rem;
  text-align: center;
  line-height: 65px;
}

.cmn-btn div {
  width: 78px;
  height: 78px;
  border-radius: 100%;
  background-color: var(--p-color);
  position: absolute;
  right: -48px;
  top: -8px;
}

.cmn-rn-btn {}

/* =================================
  inner page style 
==================================== */

.in-main,
.in-lp,
.in-rp {
  height: 100vh;
}

.in-rp {
  flex-grow: 1;
}

.in-lp {
  /* flex: 0 0 380px; */
  flex: 0 0 18%;
  box-shadow: 0px 0px 12px #00000066;
  position: relative;
}

.in-logo-hldr {}

.in-logo-hldr img {
  /* max-width: 60px; */
  max-height: 70px;
}

.in-logo-hldr div {
  border-left: 1px solid #000;
  display: block;
  height: 100%;
  padding-left: 20px;
  font-family: var(--hm-font);
  font-size: 1.75rem;
  font-weight: 800;
}

.in-lnav-hldr {
  width: 90%;
  position: absolute;
  right: 0;
  margin-top: 40px;
}

.in-lnav-nav li {
  margin-bottom: 10px;
  font-family: var(--p-font);
  font-weight: 800;
}

.in-lnav-nav li a {
  height: 50px;
  display: block;
  padding-left: 20px;
  border-radius: 10px 0 0 10px;
  line-height: 50px;
  font-size: 1.25rem;
}

.in-lnav-nav li a:hover,
.in-lnav-nav li a.active {
  background-color: var(--s-color);
}

.in-lnav-nav li img {
  max-width: 30px;
  max-height: 30px;
  margin-right: 10px;
}

.in-ts h1.in-h1 {
  font-family: var(--p-font);
  font-weight: 800;
  font-size: 2rem;
}

.in-ts p {
  font-family: var(--p-font);
  font-size: 1.4rem;
  line-height: 1.75rem;
}

.in-fh {}

/* =================================
  media section below 
==================================== */
@media all and (min-width: 1366.5px) {
  html {
    font-size: 20px;
  }

  body {
    /* background-color: yellow; */
  }
}

@media all and (max-width: 1366px) {
  html {
    font-size: 14px;
  }

  body {
    /* background-color: blueviolet; */
  }
}

/* button css for url page */

.in-rp .campaign-button-next {
  background: #FFFFFF;
  border: 1px solid var(--btn-b-color);
  border-radius: 8px;
  opacity: 1;
  width: 80px;
  height: 30px;
}

/* .in-rp .url-info {
  width: 95%;
  margin: 1rem 0rem 1rem 0rem;

} */

label[required]::after {
  content: "*";
  color: red;
}

.in-rp .url-input .MuiTextField-root {
  width: 100%;
  margin: 0.3rem 0rem 1rem 0rem;
}

.in-rp .url-action-btn {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: flex-end;
  gap: 1.5rem;
}

.in-form-hldr {
  /* background-color: red; */
  display: flex;
}

.form-control {
  max-width: 100% !important;
}

.in-rp .campaign-body-header {
  margin: 2.5rem 0rem 2rem 0rem;
}

.in-rp .campaign-body-header p {
  font-family: var(--p-font);
  font-size: 1.4rem;
  font-weight: bold;
  line-height: 1.75rem;
}

.in-rp label[required] {
  font-family: var(--p-font);
  font-size: 1.2rem;
}

/* .in-rp .custom-btn {
   display: flex;
  justify-content: space-between;
  width: 96%;
  margin-top: 3rem;
}  */
.in-rp .custom-btn {
  /* display: flex;
  justify-content: space-between; */
  width: calc(100% - 74px);
  margin: 3rem auto 0;
}

/* overview form part css */
.campaign-overview {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  margin-top: 2rem;
}

.overview-action {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1.5rem;
  flex-wrap: wrap;
}

/* -------------------------persons css------------------------------------------- */

/* .form-navigation {
  display: flex;
} */

/* configure campaign form css */
.btn-persona-container {
  display: flex;
  justify-content: center;
  height: 50vh;
  align-items: center;
  /* align-items: flex-start; */
}

.create-persona-btn {
  width: 25rem;
  height: 5rem;
  border: 1px solid var(--p-color);
  border-style: dashed;
  color: var(--p-color);
  font-weight: 800;
  font-size: 2.2rem;
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

/* last form step css */
.campaign-Action {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 2rem;
  margin-top: 4rem;
}

.actions {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  flex-wrap: wrap;
  gap: 1rem;
  margin-bottom: 2rem;
}

/* css for the url section inside forms */
.url-container {
  margin: 3rem 0rem;
  display: flex;
  gap: 1.5rem;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  align-content: center;
}

.url-container .url {
  height: 2.7rem;
  border: 1px solid var(--p-color);
  border-style: dashed;
  color: black;
  font-size: 1.2rem;
  font-weight: bold;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  padding: 0rem 0.5rem;
}

/*--------------------------------- inside config form, in header section for url and create persona btn*--------------------------*/
.url-persona-contrainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 3rem 0;
}




/*  ofer section css */

.offer-header {
  margin: 2.5rem 0rem;
}

.offer-header p {
  font-size: 1.6rem;
  font-weight: bold;
}

.offer-header .offer-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 1.5rem;
  margin-left: 2.5rem;
  margin-top: 2rem;
}

.offer-header .offer-container .offer {
  min-width: 23rem;
  background-color: #F1F1F1;
  font-size: .9rem;
  padding: 1rem;
  color: black;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 0.5rem;
}

.active-offer {
  width: 1rem;
  height: 1rem;
  border-radius: 50%;
  border: 5px solid var(--p-color);
  background-color: white;
}

.inactive-offer {
  width: 1rem;
  height: 1rem;
  border-radius: 50%;
}

/* textTransform: 'capitalize'  for button text*/
.MuiButtonBase-root {
  text-transform: capitalize !important;
}

.loader {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 70vh
}


/*  new config base page */
.in-pdt-hldr {
  border: 1px solid #D0D0D0;
  border-radius: 8px;
  padding: 10px;
  width: 100%;
}

.in-pdt-hldr.active {
  box-shadow: 0px 0px 6px #00000066;
  border: 4px solid #D0D0D0;
  margin-bottom: 2rem;
}

.in-pdt-hldr.active:hover {
  border: 4px solid #54D53B;

}

.in-pdt-hldr .in-img-hldr {
  flex: 0 0 120px;
}

.in-pdt-hldr .in-img-hldr img {
  width: 110px;
  height: 110px;
  object-fit: contain;
  border-radius: 100%;
  /* background-color: red; */
}

.in-pdt-hldr h2 {
  font-family: var(--p-font);
  font-size: 1.75rem;
  font-weight: 800;
}

.in-pdt-hldr p {
  margin-bottom: 0;
}

.in-pdt-hldr .in-btn-hldr button {
  height: 46px;
  border-radius: 4px;
  font-size: 1.25rem;
}

.field-box{
  margin: 2rem 0rem;
}